@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

body {
  font-family: "Varela Round", sans-serif;
  background: #212534;
}

:root {
  --card-height: 80%;
  --card-width: 25%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.choose {
  font-family: "Varela Round", sans-serif;
  width: 220px;
  height: 50px;
  display: block;
  font-size: 25px;
  color: rgb(88 199 250 / 100%);
  background: #191c29;
  border: 1px solid;
  border-radius: 5px;
  padding-left: 10px;
  margin: 30px auto 15px;
  box-shadow: 1px 1px 10px rgb(88 199 250 / 100%);
}

#time {
  font-size: 30px;
  text-align: center;
  color: rgb(88 199 250 / 100%);
  margin-bottom: 15px;
}

.card {
  position: relative;
  width: var(--card-width);
  height: var(--card-height);
  text-align: center;
  color: rgb(88 199 250 / 0%);
  background-color: #191c29;
  border: 3px solid;
  border-radius: 10px;
  padding-bottom: 10px;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 103%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 8);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 8));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

.text {
  font-size: 25px;
  letter-spacing: 1px;
}

.text:nth-child(1) {
  font-size: 30px;
  text-decoration: underline 2px;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

@media only screen and (max-width: 450px) {
  option {
    font-size: 15px;
  }
  .card {
    width: 90%;
    height: 90%;
  }
}
